<footer class="footer">
  <div class="row full-width">
    <div class="small-12 columns">
      <i class="fi-laptop"></i>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum maiores alias ea sunt facilis impedit fuga dignissimos illo quaerat iure in nobis id quos, eaque nostrum! Unde, voluptates suscipit repudiandae!</p>
    </div>
  </div>
</footer>

